.mainheader{
    display: inline;
}
.animbg{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#baslik1{
    font-size: 70px;
    font-family: fantasy;
    color: #D82148;   
}

#buton1 button{
    float: right;
    margin-top: 20px;
    font-size: 30px;
    font-family: fantasy;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: white;
    color: #151D3B;
    border-radius: 15px;
}

#buton1 button:hover{
    transition-duration: 0.5s;
    background-color: #D82148;
}
.giristab{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 10px;
}
#kullaniciAdi{
    width: 90%;
    border-color: #ee7752;
    border-width: 3px;
    border-radius: 10px;
    text-align: center;
}
#sifre{
    width: 90%;
    border-color: #ee7752;
    border-width: 3px;
    border-radius: 10px;
    text-align: center;
}
#sifretekrar{
    width: 90%;
    border-color: #ee7752;
    border-width: 3px;
    border-radius: 10px;
    text-align: center;
}
.anasayfalink{
    border-radius: 10px;
    border-color: #D5ECC2;
    background-color: #98DDCA;
}
.anasayfalink:hover{
    transition-duration: 0.5s;
    background-color: #151D3B;
}